<! DOCTYPE HTML PUBLIC "-/ /W3C/ /DTD HTML 3.2/ /EN">

<HTML>

<!-- ******************************************************-->
<!-- Donald B. Kinghorn                                              -->
<!-- University of Arizona Dept. of Chemistry        -->
<!-- Tucson AZ  85721                                                 -->
<!-- e-mail: kinghorn@u.arizona.edu                        -->
<!-- Updated 4:01 PM on 4/15/97                              -->
<!-- *******************************************************-->

<HEAD>

<TITLE>Signature Page</TITLE>
</HEAD>

<BODY BGCOLOR="#CAE4FF">

<!-- Footer-->

<FONT SIZE="1">&copy 1997, The University of Arizona Department of Chemistry. 
<EM><A HREF="mailto:kinghorn@u.arizona.edu">Donald B. Kinghorn 
<IMG SRC="images/mailto.gif" BORDER="0" WIDTH="14" HEIGHT="10" ALIGN="absmiddle"></A></EM>
</FONT>

</BODY>
</HTML>
