<! DOCTYPE HTML PUBLIC "-/ /W3C/ /DTD HTML 3.2/ /EN">
<HTML>
<HEAD>
<TITLE>General Information</TITLE>
</HEAD>
<BODY BGCOLOR="#FFFFFF">
<H3>General Information</H3>
<HR>
<!--begin-->
<P>This file is named 
<B><TT><U>geninfo.html</U></TT></B></P>

<P>Instructors can use the &quot;Menu and File Modification Controls&quot;
on the CourseWeb Instructor Interface to modify this web page, or remove
this item from the menu.</P>

<UL>
<LI>to modify the page contents upload a new file named 
<B><TT><U>geninfo.html</U></TT></B>
using the &quot;Upload File&quot; option.<BR>
<BR>
</LI>

<LI>use the &quot;Delete Menu Item&quot; option to remove this page from
the menu.<BR>
<BR>
</LI>

<LI>use the &quot;Upload File&quot; option to upload a new page and
create a new menu item.</LI>
</UL>

</BODY></HTML>