<! DOCTYPE HTML PUBLIC "-/ /W3C/ /DTD HTML 3.2/ /EN">

<HTML>

<!-- ******************************************************-->
<!-- Donald B. Kinghorn                                              -->
<!-- University of Arizona Dept. of Chemistry        -->
<!-- Tucson AZ  85721                                                 -->
<!-- e-mail: kinghorn@u.arizona.edu                        -->
<!-- Updated 5:20 PM on 4/23/97                              -->
<!-- *******************************************************-->

<HEAD>

<TITLE>Chem 000 Announcements Page</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF">

<H2>Chem 000 announcements</H2>
<HR>

<!--begin-->
<B>Msg : </B>
4
<BR><B>From: </B>Don
<BR><B>Date: </B>Thu May 15 22:58:35 MST 1997<BR>
<BLOCKQUOTE><P>OK, announce.cgi only allows &quot;good&quot; names <br>
<br>
     i.e. I plugged the $name hole 	<br>
<br>
and man it took long enough to get the regex right!!</BLOCKQUOTE><HR>
<!--end of msg-->
<B>Msg : </B>
3
<BR><B>From: </B>Don
<BR><B>Date: </B>Thu May 15 20:33:12 MST 1997<BR>
<BLOCKQUOTE><P>check content length	</BLOCKQUOTE><HR>
<!--end of msg-->
<B>Msg : </B>
2
<BR><B>From: </B>Don
<BR><B>Date: </B>Thu May 15 20:11:33 MST 1997<BR>
<BLOCKQUOTE><P>test request method	</BLOCKQUOTE><HR>
<!--end of msg-->
<B>Msg : </B>
1
<BR><B>From: </B>Don
<BR><B>Date: </B>Thu May 15 19:10:09 MST 1997<BR>
<BLOCKQUOTE><P>abs paths now set ---<br>
better security--can now untaint path	</BLOCKQUOTE><HR>
<!--end of msg-->

</BODY>
</HTML>
