<! DOCTYPE HTML PUBLIC "-/ /W3C/ /DTD HTML 3.2/ /EN">

<HTML>

<!-- ******************************************************-->
<!-- Donald B. Kinghorn                                              -->
<!-- University of Arizona Dept. of Chemistry        -->
<!-- Tucson AZ  85721                                                 -->
<!-- e-mail: kinghorn@u.arizona.edu                        -->
<!-- Updated 3:50 PM on 4/15/97                              -->
<!-- *******************************************************-->

<HEAD>

<TITLE>chem 000 Top frame</TITLE>
</HEAD>

<BODY BGCOLOR="#CAE4FF" TOPMARGIN="0">

<div align="left">

<table border="0" cellspacing="0" width="100%">
    <tr>
        <td valign="top"><img src="images/porphchem_xsm.gif"
        width="122" height="36"></td>
        <td align="center" nowrap><form name="menu">
            <p><select name="menu_select" size="1"
	onChange="parent.frames[1].location=menu.menu_select.options[menu.menu_select.selectedIndex].value">
              <!--announcements-->  
	<option SELECTED value="chem000Announcements.html">announcements</option>
<!--beginOptions-->
<OPTION VALUE="http://www.search.com">Search</OPTION>
<OPTION VALUE="http://caucus.arizona.edu">Caucus</OPTION>
<OPTION VALUE="schedule.htm">anne</OPTION>
<!--endOptions-->
            </select> </p>
        </form>
        </td>
        <th nowrap><h2><font face="Arial"><strong>Chem 000</strong></font></h2>
        </th>
    </tr>
</table>
</div>
</body>
</html>
