<! DOCTYPE HTML PUBLIC "-/ /W3C/ /DTD HTML 3.2/ /EN">

<HTML>

<!-- ******************************************************-->
<!-- Donald B. Kinghorn                                              -->
<!-- University of Arizona Dept. of Chemistry        -->
<!-- Tucson AZ  85721                                                 -->
<!-- e-mail: kinghorn@u.arizona.edu                        -->
<!-- Updated 5:20 PM on 4/23/97                              -->
<!-- *******************************************************-->

<HEAD>

<TITLE><!--courseLabel--> Announcements Page</TITLE>
</HEAD>

<BODY BGCOLOR="#FFFFFF">

<H2><!--courseLabel--> announcements</H2>
<HR>

<!--begin-->

</BODY>
</HTML>
